/*.a
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/.deps/
/install-sh
/libtool
/ltmain.sh
/m4/
/Makefile
/Makefile.in
/missing
/*.o
/plugin/isfd/.deps/
/plugin/isfd/*.la
/plugin/isfd/.libs/
/plugin/isfd/*.lo
/plugin/isfd/Makefile
/plugin/isfd/Makefile.in
/plugin/isfd/*.o
/plugin/Makefile
/plugin/Makefile.in
/plugin/scl/.deps/
/plugin/scl/*.la
/plugin/scl/.libs/
/plugin/scl/*.lo
/plugin/scl/Makefile
/plugin/scl/Makefile.in
/plugin/scl/*.o
/resources.h
/stamp-h1
/suvad
/suvad-server
/suva-kschk
/suva-*.tar.gz
/test/src/generate
/test/src/xfer-sink
