/*.a
/*.o
/.deps/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/plugin/Makefile
/plugin/Makefile.in
/plugin/isfd/.deps/
/plugin/isfd/Makefile
/plugin/isfd/Makefile.in
/plugin/scl/.deps/
/plugin/scl/Makefile
/plugin/scl/Makefile.in
/resources.h
/stamp-h1
/suva.spec
/suvad
/suvad-server
