[Unit]
Description=Cloud Services Daemon
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/suvad/suvad.pid
User=suva
ExecStart=/usr/sbin/suvad -c /etc/suvad.conf -p /var/run/suvad/suvad.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
